@font-face {
    font-family: chewy;
    src: url(/public/fonts/Chewy-Regular.ttf);
}

@font-face {
    font-family: open-reg;
    src: url(/public/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-semibold;
    src: url(/public/fonts/OpenSans/OpenSans-SemiBold.ttf);
}

.container-fluid {

    overflow: hidden;
}
/*--- Hidden Menu ---*/


.hidden-menu {

    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 1000;
}

.hidden-menu .columns {

    background-color: #FFBC66;
    height: 100vh;
}

.hidden-menu .bi-x {

    font-size: 3rem;
    color: #8C92AC;
    z-index: 1;
}

.hidden-menu a {

    text-decoration: none;
    color: #8C92AC;
    font-family: 'open-semibold';
    padding-top: 2rem;
    font-size: 1.65rem;
}

.hidden-menu .navbar {

    display: flex;
    
}

.flex-column .navbar-brand {

    font-family: 'chewy';
    color: #8C92AC;
    font-size: 3rem;
 
}

.hidden-menu .flex-row {

    display: flex;
    place-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.flex-row i {

    font-size: 2rem;
    color: #8C92AC;
    
}

.hidden-menu .dropdown-item {

    font-family: 'open-reg';

}

/*--- End Hidden Menu ---*/

/* Navbar */

.top-menu {

    padding: 0px;
    position: sticky;
    top: 0px;
    height: 68px;
    z-index: 10000;
    overflow: visible;
    
}

.top-menu .row {

    margin-right: 0px;
    margin-left: 0px;
    
}

.top-menu .row>* {

    padding: 0px;
}

.top-menu .navbar {

    background-color: #8C92AC;
    justify-content: space-evenly;
    
}

.top-menu a {

    color: #FFBC66;
    text-decoration: none;
    font-family: 'open-semibold';
    text-shadow: 0 0 black;

}

.top-menu .dropdown-item {

    color: #8C92AC;
    text-decoration: none;
    font-family: 'open-reg';
    
    
}

.top-menu .navbar-brand {

    font-size: 1.75rem;
    font-family: 'chewy';
    text-shadow: 0 0 black;
}


.navNone {

    opacity: 0; 
}

.fadeIn {

    animation: fadeIn 1s ease; 
    opacity: 1;
}

@keyframes fadeIn {
    
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* End Navbar */ 

/*--- First page ---*/

#one i {

    position: absolute;
    
}
#one i.bi-list {

    top: 0px;
    right: 10px;
    
}
#one i.bi-chevron-compact-down {

    bottom: 10px;
    left: 50%;
    opacity: 0.5;
}

#one .bi-chevron-compact-down:hover {

    opacity: 1;
}

.row.gray-bg {

    background-color: #A0A5BA;
}

#one .col-inner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#one .text {

    height: 100vh;
}

#one .title {

    display: flex;
    font-family: 'chewy';
    font-size: 6rem;
    color: #EDCF8E;
}

#one .subtitle {

    display: flex;
    font-family: 'open-semibold';
    color: #EFCA80;
    font-size: 1.5rem;
    
}

#one .bi-list {

    font-size: 3.5rem;
    color: #EFCA80;
}

#one .bi-chevron-compact-down {

    font-size: 3.5rem;
    color: #EFCA80;
    animation: bounce infinite 1s ease-in-out; 
  
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(8px) }
    100% { transform: translateY(-5px) }
}


/*--- End First Page ---*/

/*--- Second Page ---*/

#two {

    height: 100vh;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    font-family: 'open-reg';
    background-color: #FEFCF8;
}


#two > div > div:nth-child(1) > div {

    display: flex;
    height: calc(100vh - 68px);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}


#two h1 {

    color: #EDCF8E;
    font-family: 'open-semibold';
    font-size: 3rem;
}

#two h2 {

    color: #FFBC66;
    font-size: 1.2rem;
    margin-bottom: 5%;
}

p {

    color: #48484C;
}

h3 {

    color: #48484C;
}

#two .container-figures {

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: calc(100vh - 68px);
    position: relative;
    overflow: hidden;
    
}

.link {

    text-decoration: underline;
    color: #8C92AC;
}

.figures {

    position: absolute;
}

.circle {
 
    bottom: -50px;
    right: -100px;
    animation-name: floatCircle;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes floatCircle {

    0% { transform: translateX(0px) translateY(0px)  }
    50% { transform:translateX(-200px) translateY(100px)}
    100% { transform: translateX(0px) translateY(0px) }
    
}


.triangle {

    bottom: 190px;
    right: 10px;
    animation-name: floatTriangle;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes floatTriangle {

    0% {transform: translateX(0px) translateY(0px)}
    50% {transform: translateX(20px) translateY(200px)}
    100% {transform: translateX(0px) translateY(0px)}
    
}

.rectangle {

    bottom: 120px;
    right: 200px;
    animation-name: floatRectangle;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


@keyframes floatRectangle {

   0% {transform: translateX(0px) translateY(0px)}
   50% {transform: translateX(250px) translateY(200px)}
   100% {transform: translateX(0px) translateY(0px)}

}


.bounce-2 {

    position: absolute;
    font-size: 3.5rem;
    color: #8C92AC;
    animation: bounce infinite 1s ease-in-out;
    left: 50%;
    bottom: -105%;

}


/*--- End Second Page ---*/

/*--- Third Page ---*/

#three {

    height: 100vh;
    padding-top: 68px;

}

#three .slideshow-container {

    justify-content: center;
    font-family: 'open-reg';
    height: 80vh;    
}

#three .heading {

    text-align: center;
    padding: 1.5rem;
    font-family: 'chewy';
    color: #656771;
}

#three .heading p {

    font-family: 'open-semibold';
    font-size: 1.25rem;
  
}

#three .h3 {

    font-family: 'chewy';
    color: #8C92AC;
}


#three .slideshow-viewport {

    width: 80%;
    height: 80%;

}

#three .slideshow-content {

    flex-direction: column;
    height: 100%;
    place-content: space-around;
}

#three .media {

    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  
}

.media .images {

    position: relative;
    display: flex;
    justify-content: center;
    
}

.phone-frame {

    position: absolute;
    
}

.images img {

    position: absolute;
    top: 65px;
    left: -134px;
}


.slideshow-content .col {

    background-color: #E5E5E5;
    margin-bottom: 2rem;
    padding: 5rem;
    max-width: 20rem;
    max-height: 20rem;
}

.hide {

    visibility: hidden;
}

.slideshow-content .col.hover {

    background-color: #8C92AC;
    
}

.slideshow-content .col.hover .link {

    color: #FEF7ED;
    
}
#three .slideshow-content .col.hover .h3 {

    color: #FEF7ED;    
}


/*--- End Third Page ---*/

/*--- Vertical Slideshow ---*/ 

.vert-slide-demo {

    height: 100vh;
    padding-top: 68px;
    background-color: #F9F9F9;
}

.library-heading {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;

}

.library-heading h3 {

    font-family: 'chewy';
    font-size: 2rem;
}

.library-heading p {

    font-family: 'open-reg';
    font-size: 1.5rem;
}

.vert-slide-demo i {

    font-size: 2.5rem;
}

.container-viewport {

    background-color: #E5E5E5;
    width: 40%;
}

.viewport {

    position: relative;
    height: 470px;
    overflow: hidden;
}

.top-slide { 

    
    top: -425px;
}

.current-slide {

    top: 0px;
    
}

.bottom-slide {

    top: 425px;
    
}

.slide-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'open-reg';
    padding: 18px;
    width: 640px;
 
}

.slide-container .contains-text {

    width: 300px;

}

.slide-container .contains-img {

    padding-right: 10px;
    
}

.controls {

    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;

}

.slides {

    display: none;
}

.slides-container {

    position: absolute;
    top:-425px;
    animation-duration: 1s;
 

}
.slide-container {

    position: relative;
    top:0px !important;
}

.animating1 .slides-container {

    animation-name: rollDown;
    
}
.animating-1 .slides-container {

    animation-name: rollUp;
    
}

@keyframes rollDown {
    
    from {
        top: -850px;
    }
  
    to {
        top: -425px;
    }
}
@keyframes rollUp {

    
    from {
        top: 0px;
    }
  
    to {
        top: -425px;
    }
}

/*--- End Vertical Slideshow ---*/ 


/*--- Fourth Page ---*/

#four {

    height: 100vh;
    padding-top: 68px;
}

.contact {

    height: 70vh;  
}

.contact .space {

    height: 40vh;
}

.contact .news {

    height: 30vh;
    background-color: #A0A5BA;
    font-family: 'open-reg';
}

.news .row {

    height: 30vh;
}

.newsletter-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    
}

.newsletter-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-control {

    background-color: #8C92AC;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 75%;

}

.footer {

    flex-direction: row;
    height: 30vh;
    padding-top: 10px;
}

.footer .brand {

    font-family: 'chewy';
    color:#EFCA80;
}

.footer p {

    font-size: 0.75rem;
}

.footer i {

    font-size: 1.5rem;
    padding-right: 10px;
}


/*--- End Fourth Page ---*/
