@font-face {
    font-family: chewy;
    src: url(/public/fonts/Chewy-Regular.ttf);
}

@font-face {
    font-family: open-reg;
    src: url(/public/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-semibold;
    src: url(/public/fonts/OpenSans/OpenSans-SemiBold.ttf);
}

.container-fluid {

    overflow: hidden;
}
/*--- Hidden Menu ---*/


.hidden-menu {

    height: 100vh;
    background-color: #FFBC66;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}


.hidden-menu .bi-x {

    font-size: 3rem;
    color: #8C92AC;
    place-self: self-end;
    z-index: 1;
}

.hidden-menu a {

    text-decoration: none;
    color: #8C92AC;
    font-family: 'open-semibold';
    padding-top: 2rem;
    font-size: 1.65rem;
}

.hidden-menu .navbar {

    display: flex;
    
}

.flex-column .navbar-brand {

    font-family: 'chewy';
    color: #8C92AC;
    font-size: 3rem;
 
}

.hidden-menu .flex-row {

    display: flex;
    place-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.flex-row i {

    font-size: 2rem;
    color: #8C92AC;
    
}

/*--- End Hidden Menu ---*/

/* Navbar */

.top-menu {

    padding: 0px;
    position: sticky;
    top: 0px;
    height: 68px;
    z-index: 10000;
    
}
.top-menu .navbar {

    background-color: #8C92AC;
    justify-content: space-around;
    
}

.top-menu a {

    color: #FFBC66;
    text-decoration: none;
    font-family: 'open-semibold';
    
}

.top-menu .nav-item {

    font-family: 'open-semibold';
    
}

.top-menu .navbar-brand {

    font-size: 1.75rem;
    margin-right: 10rem;
    font-family: 'chewy';
}


.navNone {

    opacity: 0; 
}

.fadeIn {

    animation: fadeIn 1s ease; 
    opacity: 1;
}

@keyframes fadeIn {
    
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* End Navbar */ 

/*--- First page ---*/

.col-12 i {

    position: absolute;
    
}
.col-12 i.bi-list {

    top: 0px;
    right: 10px;
    
}
.col-12 i.bi-chevron-compact-down {

    bottom: 10px;
    left: 50%;
}

.row.gray-bg {

    background-color: #8C92AC;
}

#one .col-inner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#one .text {

    height: 100vh;
}

#one .title {

    display: flex;
    font-family: 'chewy';
    font-size: 6rem;
    color: #FFBC66;
}

#one .subtitle {

    display: flex;
    font-family: 'open-semibold';
    color: #FFBC66;
    font-size: 1.5rem;
    
}

#one .bi-list {

    font-size: 3.5rem;
    color: #FFBC66;
}

#one .bi-chevron-compact-down {

    font-size: 3.5rem;
    color: #FFBC66;
    animation: bounce infinite 1s ease-in-out; 
  
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(8px) }
    100% { transform: translateY(-5px) }
}


/*--- End First Page ---*/

/*--- Second Page ---*/

#two {

    height: 100vh;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}


#two > div > div:nth-child(1) > div {

    display: flex;
    height: calc(100vh - 68px);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

#two p {

    font-family: 'open-reg';
}

#two .h1 {

    color: #FFBC66;
    font-family: 'open-semibold';
}

#two .h2 {

    color: #FFBC66;
    font-size: 1.2rem;
    margin-bottom: 5%;
}

#two .container-figures {

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: calc(100vh - 68px);
    position: relative;
    overflow: hidden;
    
}

.figures {

    position: absolute;
}

.circle {
 
    bottom: -50px;
    right: -100px;
    animation-name: circleMove;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes circleMove {

    from {
        bottom: -50px;
        right: -100px;
    }
    to {
        bottom: 0px;
        right: 0px;
    }
  
  }


.triangle {

    bottom: 190px;
    right: 10px;
    animation-name: triMove;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes triMove {

    from {
        transform: rotate(0deg);
        bottom: 190px;

    }

    to {
        transform: rotate(20deg);
        bottom: 220px;
    }
  
  }


.rectangle {

    bottom: 125px;
    right: 200px;
    animation-name: recMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes recMove {

    from {
        transform: rotate(0deg);
        right: 200px;
    }
    
    to {
        transform: rotate(-20deg);
        right: 300px
    }
  }


.bounce-2 {

    position: absolute;
    font-size: 3.5rem;
    color: #8C92AC;
    animation: bounce infinite 1s ease-in-out;
    left: 50%;
    bottom: -105%;

}


/*--- End Second Page ---*/

/*--- Third Page ---*/

#three {

    height: 100vh;
    padding-top: 68px;

}

#three .slideshow-container {

    justify-content: center;
    font-family: 'open-reg';
    height: 80vh;    
}

#three .heading {

    text-align: center;
    padding: 1.5rem;
    font-family: 'chewy';
    

}

#three .heading p {

    font-family: 'open-semibold';
    font-size: 1.25rem;
}

#three .h3 {

    font-family: 'chewy';
    color: #8C92AC;
}


#three .slideshow-viewport {

    width: 80%;
    height: 80%;

}

#three .slideshow-content {

    flex-direction: column;
    height: 100%;
    place-content: space-around;
}

#three .media {

    height: 100%;
    position: relative;
  
    
}

.media .images {

    position: relative;
    display: flex;
    justify-content: center;
    
    
}

.images img {

    position: absolute;
}




.slideshow-content .col {

    background-color: #E5E5E5;
    margin-bottom: 2rem;
    padding: 5rem;
    max-width: 20rem;
    max-height: 20rem;
}

.hide {

    visibility: hidden;
}

.slideshow-content .col.hover {

    background-color: #8C92AC;
    
}
#three .slideshow-content .col.hover .h3 {

    color: #E5E5E5;    
}


/*--- End Third Page ---*/

/*--- Vertical Slideshow ---*/ 

.vert-slide-demo {

    height: 100vh;
    padding-top: 68px;
}

.library-heading {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;

}

.library-heading h3 {

    font-family: 'chewy';
    font-size: 2rem;
}

.library-heading p {

    font-family: 'open-reg';
    font-size: 1.5rem;
}

.vert-slide-demo i {

    font-size: 2.5rem;
}

.container-viewport {

    background-color: #E5E5E5;
    width: 40%;
}

.viewport {

    position: relative;
    height: 470px;
    overflow: hidden;
}

.top-slide { 

    
    top: -425px;
}

.current-slide {

    top: 0px;
    
}

.bottom-slide {

    top: 425px;
    
}

.slide-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'open-reg';
    padding: 20px;
    width: 640px;
 
}

.slide-container .contains-text {

    width: 300px;

}

.slide-container .contains-img {

    padding-right: 10px;
    
}

.controls {

    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;

}

.slides {

    display: none;
}

.slides-container {

    position: absolute;
    top:-425px;
    animation-duration: 1s;
 

}
.slide-container {

    position: relative;
    top:0px !important;
}

.animating1 .slides-container {

    animation-name: rollDown;
    
}
.animating-1 .slides-container {

    animation-name: rollUp;
    
}

@keyframes rollDown {
    
    from {
        top: -850px;
    }
  
    to {
        top: -425px;
    }
}
@keyframes rollUp {

    
    from {
        top: 0px;
    }
  
    to {
        top: -425px;
    }
}

/*--- End Vertical Slideshow ---*/ 


/*--- Fourth Page ---*/

#four {

    height: 100vh;
    padding-top: 68px;
}

.contact {

    flex-direction: row;
    height: 75vh;
    justify-content: center;
    align-content: center;
}


.footer {

    flex-direction: row;
    background-color: #8C92AC;
    height: 25vh;
    padding-top: 10px;
}

.footer .brand {

    font-family: 'chewy';
    color:#FFBC66;
}

.footer p {

    font-size: 0.75rem;
}

.footer i {

    font-size: 1.5rem;
    padding-right: 10px;
}

form {

    font-family: 'open-reg';
}

/*--- End Fourth Page ---*/

.test-container{

    position: relative;
    height: 100%;
}

.test-frame {

    position: absolute;

}

.test-img {

    position: absolute;
}